/.mypy_cache
/.vscode
/Public
*.onnx
*.json
__pycache__/
logs/
*.log
*.txt
GPU_clean.__pycache__
GPU_clean.py
optimization.md
Summary.md
.alpackages
*.pth
_onnx
*.SH
*.sh
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp